main {
  display: grid;
  gap: 10px;
  place-items: center;
}

img {
  display: block;
  background: #000;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

footer {
  text-align: center;
}