* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #525151;
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  height: 100px;
  padding: 10px 0 0 10px;
}

ul {
  height: 40px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  background: #000;
}

main {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #000;
}

.main-content {
  background: rgb(206, 206, 206);
  grid-column: 1/3;
  padding: 10px;
}

.aside-content {
  background: rgb(255, 255, 255);
  padding: 10px;
}

footer {
  background: #525151;
  color: #fff;
  height: 150px;
  text-align: center;
  padding-top: 10px;
}
