:root {
  --primary-color: #3f3a75;
  --secondary-color: #3f3a75b9;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

header,
footer {
  background: var(--primary-color);
  padding: 10px;
  text-align: center;
}

form {
  background: var(--secondary-color);
  padding: 15px;
  margin: 10px 0;
}

select,
.radios,
.date,
.checkboxes {
  margin-bottom: 10px;
}

select,
input[type="date"],
textarea,
.name,
option {
  width: 100%;
  height: 35px;
  padding: 10px;
  color: black;
}

select {
  padding: 0;
}

textarea {
  height: 90px;
}

.radios {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.radio {
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  margin: 10px 0 0 0;
  background: var(--secondary-color);
}

@media (min-width: 768px) {
  body {
    max-width: 500px;
    display: grid;
    place-content: center;
    min-width: 100vw;
  }
}
