:root {
  --main-color: rgb(125, 74, 234);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

figure {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

header {
  color: white;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: 70px;
  font-size: 1.3rem;
}

#menu {
  background: var(--main-color);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  left: 0;
  width: 100%;
  transition: 1s top ease-in-out;
}

.menu_close {
  position: absolute;
  top: -500px;
}

.menu_open {
  top: 0;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.gallery_photo {
  width: 200px;
}

footer {
  text-align: center;
  background: var(--main-color);
  color: white;
  padding: 10px;
}